<div ng-show="showFooter" class="ngFooterPanel" ng-class="{'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}" ng-style="footerStyle()">
    <div class="ngPageSize" >
        <select ng-model="pagingOptions.pageSize" >
            <option ng-repeat="size in pagingOptions.pageSizes">{{size}}</option>
        </select>
    </div>
    <div class="ngTotalCount" >
        <span class="ngLabel">{{i18n.ngTotalCountLabel}} {{maxRows()}}</span>
    </div>
    <div class="ngPagerContainer" ng-show="enablePaging" ng-class="{'ngNoMultiSelect': !multiSelect}">
        <a class="ngPrevPage" ng-click="pageBackward()" ng-disabled="cantPageBackward()" title="{{i18n.ngPagerPrevTitle}}"></a>
        <span class="ngLabel">{{i18n.ngPageLabel}}</span>
        <input class="ngPagerCurrent" ng-model="pagingOptions.currentPage"/>
        <span class="ngLabel">{{i18n.ngOfLabel}}</span>
        <span class="ngLabel">{{maxPages()}}</span>
        <a class="ngNextPage" ng-click="pageForward()" ng-disabled="cantPageForward()" title="{{i18n.ngPagerNextTitle}}"></a>
    </div>
</div>
