@rowColorEven: @rowEvenColor;
@rowColorOdd: @rowOddColor;

.ngRow {
  color: @fontColor;
  position: absolute;
}

.ngRow.odd {
  background-color: @rowColorOdd;
}

.ngRow.even {
  background-color: @rowColorEven;
}

.ngRow.selected {
  background-color: @rowSelectedColor;
  color: @rowSelectedFontColor;
}

.ngRow:hover {
  background-color: #d8eff9;
}